.arl_admin_resource_header_stats
  .arl_admin_resource_header_stat_url= asset_url public_album_path(album.id_public)
  .arl_admin_resource_header_stat_update= "Last updated: #{album.updated_at.in_time_zone}"
