- if selectable.does_have_keywords
  = form_with(model: [:admin, album], url: admin_album_add_pictures_by_keyword_path(album, pane: :pictures), local: true, class: [:arl_form]) do |f|
    .arl_form_title
      Add picture(s) by keyword
    .arl_form_data
      .test_form_data_attr
        = f.collection_select :keywords, selectable.keywords, :id, :title_with_pictures_count, { include_blank: true }, { class: :test_form_data_attr_input_select }
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
