.arl_form_title
  Upload audio

= form_with(model: [:admin, album], local: true, method: :post, url: admin_album_audio_create_from_upload_path(album)) do |f|
  = f.fields_for :audio, f.object.audio.build do |a|
    .arl_form_data_attr.arl_form_layout_blocks
      = a.file_field :source_attachment, multiple: false, direct_upload: true, class: :arl_button_file_upload
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
