= form_with(model: [:admin, album], url: admin_album_path(album, pane: :keywords), local: true, class: [:arl_form], method: :patch) do |f|
  .arl_form_title
    Add a keyword
  .arl_form_data
    = f.fields_for :album_keywords, album.album_keywords.build do |ak|
      .test_form_data_attr
        = ak.collection_select :keyword_id, selectable.keywords, :id, :title, { include_blank: true }, { class: :test_form_data_attr_input_select }
  .arl_form_actions
    = f.submit class: :arl_button_form_submit
