.arl_form_data_attr
  .arl_form_layout_inline
    = form.check_box :admin_forms_auto_keyword_enabled, class: :arl_form_data_checkbox
    = form.label :admin_forms_auto_keyword_enabled, class: :arl_form_data_label_inline
  .arl_form_layout_inline_inset
    %aside.arl_form_data_attr_explanation
      Automatically add the following keyword to new resources
    = form.collection_select :admin_forms_auto_keyword_id, selectable, :id, :title, { include_blank: false }, { class: :arl_form_data_select }
