- if selectable.does_have_pictures
  = form_with(model: [:admin, event], url: admin_event_path(event, pane: :pictures), local: true, class: [:arl_form]) do |f|
    .arl_form_title
      Add picture
    .arl_form_data
      = f.fields_for :event_pictures, event.event_pictures.build do |ap|
        = render 'admin/shared/form_picture_selector', form: ap, picture_options: selectable.pictures
    .arl_form_actions
      = f.submit class: :arl_button_form_submit

- else
  .arl_form
    .arl_form_data
      .arl_form_data_attr.arl_form_layout_center
        .arl_form_data_label_block No pictures.
