$shadow: 0rem 0rem 0.25rem transparentize($color-fg, 0.9);

$shadow-img: 0rem 0rem 0.25em transparentize($color-fg, 0.75);
$shadow-media-1-arl-base: 0rem 0rem 1rem $color-fg;
$shadow-pictures-show-picture: 0rem 0rem 2rem transparentize($color-fg, 0.75);

$shadow-button-active: 0rem 0rem 0.125rem $color-fg-exciting;
$shadow-button-nav-active: 0rem 0rem 0.25rem $color-fg-link;

$shadow-text-close: 0rem 0rem 0.2rem $color-fg;