.arl_error_file_missing {
  color: $color-fg-exciting;
  display: list-item;
  list-style-position: outside;
  margin-left: 0.375em;
  text-indent: -0.375em;
}

.arl_error_image_missing {
  background-color: $color-bg-darker;
  height: 100%;
  width: 100%;
}

.arl_error_not_indexed {
  color: $color-fg-exciting;
  display: list-item;
  list-style-position: outside;
  margin-left: 0.375em;
  text-indent: -0.375em;
}

.arl_error_404 {
  font-family: $font-family-admin;
  margin: $arl-spacing-wide;
}
