= html_head_title_extend! 'info'

.arl_info_show
  - if @info_page.does_have_items_group_top
    .arl_info_show_group_top
      - @info_page.items_group_top.each do |item|
        = render 'show_info_item', item: item
  - if @info_page.does_have_items_group_bottom
    .arl_info_show_group_bottom
      .arl_info_show_group_left
        - @info_page.items_group_left.each do |item|
          = render 'show_info_item', item: item
      .arl_info_show_group_right
        - @info_page.items_group_right.each do |item|
          = render 'show_info_item', item: item
