.arl_admin_pictures_show_details
  = render 'show_details_title', picture: picture
  = render 'show_details_description', picture: picture
  = render 'show_details_credits', picture: picture
  = render 'show_details_year', picture: picture
