.arl_admin_pictures_show_joined
  = render 'admin/shared/index_joined_albums', resource: picture
  = render 'admin/shared/index_joined_events', resource: picture
  = render 'admin/shared/index_joined_keywords', resource: picture
