= html_head_title_extend! [:videos, @video.title]

.arl_video_show
  .arl_video_player
    Video Player Here
  .arl_video_title
    = @video.title
  .arl_video_description
    = parser_div(@video.description_props)
