.arl_albums_index {}
.arl_albums_index_album {
  cursor: pointer;
}
.arl_albums_index_album_notice_alt_url {
  font-family: $font-family-album-title;
  font-size: 0.9em;
  font-style: italic;
}
.arl_albums_index_album_notice_alt_url_link {
  color: $color-fg-link;
}
.arl_albums_index_album_picture {
//  vertical-align: middle;
}
.arl_albums_index_album_picture_img {
}
.arl_albums_index_album_text {
}
.arl_albums_index_album_text_album_artist {
  font-family: $font-family-album-title;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: ($arl-margin-narrow / 2);
}
.arl_albums_index_album_text_title {
  font-family: $font-family-album-title;
  font-weight: bold;
  margin-bottom: $arl-margin-narrow;
}
.arl_albums_index_album_text_title_link {
  color: $color-fg-link;
}
.arl_albums_index_album_text_track {
  @include layout-list-item-inline;
  margin: 0rem;
}
.arl_albums_index_album_text_tracks {
  font-family: $font-family-album-details;
  font-size: 0.75rem;
  list-style-type: none;
  margin: $arl-margin-narrow 0rem;
}
.arl_albums_index_album_text_year {
  font-family: $font-family-album-details;
  font-size: 0.75rem;
  margin-top: $arl-margin-narrow;
}
.arl_albums_index_albums {}



@media #{$media-screen-1} {
  .arl_albums_index {
    padding: $arl-margin;
  }
  .arl_albums_index_album_picture {
    padding-bottom: $arl-margin-wide;
    padding-left: 0rem;
    padding-right: $arl-margin-narrow;
    padding-top: $arl-margin-wide;
  }
  .arl_albums_index_album_picture_img {
    height: 5rem;
    width: 5rem;
  }
  .arl_albums_index_album_text {
    padding-bottom: $arl-margin;
    padding-left: $arl-margin-narrow;
    padding-right: 0rem;
    padding-top: $arl-margin;
    width: 100%;
  }
  .arl_albums_index_album_text_album_artist {
    font-size: .75em;
  }
  .arl_albums_index_album_notice_alt_url {
    display: none;
  }
  .arl_albums_index_album_text_tracks {
    display: none;
  }
  .arl_albums_index_albums {
    width: 18rem;
  }
  .arl_albums_index_album_notice_alt_url {
    margin-bottom: $arl-margin-wide;
  }

}


@media #{$media-screen-2} {
  .arl_albums_index {
    @include layout-flex-column-center;
    max-width: 30rem;
    padding: $arl-margin-wide;
  }
  .arl_albums_index_album_picture {
    padding: $arl-margin-wider $arl-margin-narrow;
  }
  .arl_albums_index_album_picture_img {
    @include border-rounded-img-albums-index;
    height: 7rem;
    width: 7rem;
  }
  .arl_albums_index_album_text {
    padding: $arl-margin-wide $arl-margin-narrow;
  }
}


@media #{$media-screen-3} {
  .arl_albums_index {
    @include layout-flex-column-center;
    max-width: 35rem;
    padding: $arl-margin-wide;
  }
  .arl_albums_index_album_picture {
    padding: $arl-margin-wider $arl-margin-narrow;
  }
  .arl_albums_index_album_picture_img {
    @include border-rounded-img-albums-index;
    height: 7rem;
    width: 7rem;
  }
  .arl_albums_index_album_text {
    padding: $arl-margin-wide $arl-margin-narrow;
  }
}
