.arl_info_show {
}
.arl_info_show_group_bottom {}
.arl_info_show_group_left {
}
.arl_info_show_group_right {}
.arl_info_show_group_top {
  @include layout-flex-column-stretch;
}
.arl_info_show_item_address {}
.arl_info_show_item_article {
  font-family: $font-family-info-article;
  text-align: left;
}
.arl_info_show_item_link {
  margin: $arl-margin 0rem;
  text-align: left;
}
.arl_info_show_item_picture_img {
}


@media #{$media-screen-1} {
  .arl_info_show {
    padding-bottom: $arl-margin-wide;
  }
  .arl_info_show_group_bottom {
    @include layout-flex-column-stretch;
    width: 20rem;
  }
  .arl_info_show_group_left {
    @include layout-flex-column-left;
  }
  .arl_info_show_group_right {
    @include layout-flex-column-left;
  }
  .arl_info_show_group_top {
    width: 20rem;
  }
  .arl_info_show_item_article {
    font-size: 0.9rem;
    margin: $arl-margin-wide $arl-spacing-wide;
  }
  .arl_info_show_item_link {
    font-size: 0.9rem;
    margin: $arl-margin-wide $arl-spacing-wide;
  }
  .arl_info_show_item_picture_img {
    border-bottom: $border;
  }
}


@media #{$media-screen-2} {
  .arl_info_show {
    @include layout-flex-column-center;
    padding: $arl-spacing-wide $arl-margin-wide;
  }
  .arl_info_show_group_bottom {
    @include layout-flex-column-stretch;
    width: 20rem;
  }
  .arl_info_show_group_left {
    @include layout-flex-column-stretch;
  }
  .arl_info_show_group_right {
    @include layout-flex-column-stretch;
  }
  .arl_info_show_group_top {
    width: 20rem;
  }
  .arl_info_show_item_article {
    @include border-pseudo-vertical;
  }
  .arl_info_show_item_link {
    @include border-pseudo-vertical;
  }
  .arl_info_show_item_picture_img {
    border: $border-img;
    box-shadow: $shadow-img;
  }
}

@media #{$media-screen-3} {
  .arl_info_show {
    @include layout-flex-row-top;
    padding: $arl-spacing-wide $arl-margin-wide;
  }
  .arl_info_show_group_bottom {
    width: 40rem;
    @include layout-flex-row-top;
  }
  .arl_info_show_group_left {
    @include layout-flex-column-right;
    max-width: 30rem;
  }
  .arl_info_show_group_right {
    @include layout-flex-column-left;
    max-width: 30rem;
  }
  .arl_info_show_group_top {
    width: 40rem;
  }
  .arl_info_show_item_article {}
  .arl_info_show_item_link {
  }
  .arl_info_show_item_picture {
  }
  .arl_info_show_item_picture_img {
    border: $border-img;
    box-shadow: $shadow-img;
  }
}
