.arl_albums_show
  .arl_albums_show_picture
    = app_logo html_class: :arl_albums_show_picture_img
  .arl_albums_show_text
    .arl_layout_section_text
      .arl_albums_show_text_description
        A&amp;R.local is a content management and delivery application for musicians.

  .arl_albums_show_player
    = render 'index_playlist_filler'
