= form_with(model: [:admin, keyword], local: true, class: :arl_form) do |f|
  .arl_form_title
    Destroy keyword?
    .arl_form_data_label_destroy= sanitize("<i>" + keyword.title + "</i>")
  .arl_form_data
    .arl_form_data_attr.arl_form_data_blocks
      %ul.arl_form_data_attr_destroy_explanation
        %li.arl_form_data_attr_destroy_explanation_caveat This action can not be undone.
  
  .arl_form_actions
    = button_admin_submit_to_destroy admin_keyword_path(keyword.id), data: { confirm:  'Are you sure?' }
    