%dl.arl_keywords_show_joins
  .arl_metadata_pair
    %dt.arl_metadata_key.arl_metadata_block= keyword_statement_albums_count(keyword)
    - if keyword.does_have_albums
      %dd.arl_metadata_value.arl_metadata_block
        %ul.arl_metadata_value_list
          - keyword.albums.order_by_title_asc.each do |album|
            %li.arl_metadata_value_list_item
              = link_to album.title, admin_album_path(album.id_public), class: :arl_link_resource
