= form_with(model: [:admin, stream], local: true, class: :arl_form) do |f|
  .arl_form_title
    Destroy stream?
    .arl_form_data_label_destroy= tag.i stream.title

  %ul.arl_form_explanation
    %li.arl_form_explanation_warning This action can not be undone.


  .arl_form_actions
    = button_admin_submit_to_destroy admin_stream_path(stream.id), data: { confirm:  'Are you sure?' }, label: 'Destroy Stream'
