.arl_infopage_index_infopages {
  margin: $arl-margin;
}

.arl_infopage_index_header {
  padding: $arl-margin-wide $arl-margin;
  font-family: $font-family-admin-data-label;
  text-align: center;
}
.arl_infopage_index_infopage_index_order {
  padding: $arl-margin-wide $arl-margin;
  font-family: $font-family-admin-data-value;
  text-align: right;
}
.arl_infopage_index_infopage_title {
  padding: $arl-margin-wide $arl-margin;
  font-family: $font-family-admin-data-value;
  text-align: left;
}
