.arl_joined_resource {

}
.arl_joined_resource_heading {
  display: inline;
  font-weight: bold;
  white-space: nowrap;
}
.arl_joined_resource_data {
  display: inline;
  &::after {
    content: ' / '
  }
}
.arl_joined_resource_data:last-child::after {
  content: ''
}
