.arl_keywords_index {
  margin: $arl-margin-wide 0rem;
  max-width: 40rem;
}
.arl_keywords_index_keyword {
  margin: $arl-margin-wide 0rem;
}
.arl_keywords_index_keyword_joined_resource {
  font-family: $font-family-admin-data-value;
  font-size: 0.875em;
}
.arl_keywords_index_keyword_title_link {
  color: $color-fg-link;
  font-family: $font-family-admin-data-label;
  font-weight: bold;
}
