.arl_form_data_attr.arl_form_layout_blocks
  = form.label attribute, class: :arl_form_data_label_block
  .arl_form_layout_multifield
    = form.date_select attribute, { include_blank: true, selected: form.object.date_released || default_date }, { class: :arl_form_data_select }
