.test_form_data_attr
  = form.label attribute, class: :test_form_data_attr_label
  .test_form_data_attr_multi
    = form.date_select attribute, { include_blank: true, selected: form.object.date_released || default_date }, { class: :test_form_data_attr_input_select }
