- if form.object.is_coverpicture
  .test_form_data_joins_picture_order.arl_form_data_attr_not_applicable
    = form.label 'order', class: :arl_form_data_resource_value
    = form.text_field resource_order, class: :arl_form_data_number_field

- else
  .test_form_data_joins_picture_order
    = form.label 'order', class: :arl_form_data_resource_value
    = form.text_field resource_order, class: :arl_form_data_number_field
