.arl_form_title
  Add thumbnail picture

- if selectable.does_have_pictures
  = form_with(model: [:admin, video], url: admin_video_path(video, pane: :picture), local: true, class: [:arl_form]) do |f|
    .arl_form_data
      = f.fields_for :video_picture, video.build_video_picture do |vp|
        = render 'admin/shared/form_picture_selector', form: vp, picture_options: selectable.pictures
    .arl_form_actions
      = f.submit class: :arl_button_form_submit

- else
  .arl_form
    .arl_form_null No pictures.
