-# TODO: define what 'selectable.pictures.count >= 2' means semantically, refactor logic into model.
- if selectable.does_have_pictures
  = form_with(model: [:admin, video], url: admin_video_path(video, pane: :thumbnail), local: true, class: :arl_form) do |f|
    .arl_form_title
      Add thumbnail picture
    .arl_form_data
      = f.fields_for :video_picture, video.thumbnail do |vp|
        = render 'form_elements/picture_select', attribute: :picture_id, form: vp, selectable: selectable
    .arl_form_actions
      = f.submit class: :arl_button_form_submit
